# build output
dist/

# generated types
.astro/

# Ignore Codex/Claude files and directories
.claude/
.codex/
AGENTS.md

# IDE files
.vscode/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/
